<%- include("./partials/header", {title: "Edit Profile"}) %>
<%- include("./partials/navbar", {page: "dashboard"}) %> 
<%- include("./partials/alert", {msg, err}) %> 

<h1>Profile</h1>

<div class="container">
    <div class="row">
        
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder="<%= locals.user.username %> " disabled>

        <a href="/dashboard/edit">
            <button id="change-pass">Edit Account</button>
        </a>
        
        <button data-user-id="<%= user._id %>" id="delete-user">Delete Account</button>
    </div>
</div>


<!-- Import Scripts -->
<%- include("./partials/scripts.js") %>
<script src="/javascripts/user.js"></script>