<%- include("./partials/__header", {title: "Edit Profile"}) %>
<%- include("./partials/__navbar", {page: "dashboard"}) %> 
<%- include("./partials/__alert", {msg, err}) %> 


<div class="container">
    <h1 class="bg-teal">Edit info</h1>
    <div class="row ">
        
        <label for="username">Username:</label>
        <input type="text" name="username" value="<%= locals.user.username %>">
        
        <label for="password">password:</label>
        <input type="password" name="password" placeholder="Enter Your New Password">
        
        <button data-user-id="<%= locals.user._id %> " id="edit-user">Save Changes</button>
        
    </div>
</div>

<!-- Importing Scripts -->
<%- include("./partials/__scripts") %>
<script src="/javascripts/user.js"></script>