<%- include("./partials/__header") %>
<%- include("./partials/__navbar", {page: "home"}) %>
<%- include("./partials/__alert", {msg, err}) %>

<h1>Home Page</h1>

<%- include("./partials/__scripts") %>
<%- include("./partials/__footer") %>
