<%- include("./partials/__header", {title: "Login Page"}) %>
<%- include("./partials/__navbar", {page: "login"}) %> 
<%- include("./partials/__alert", {msg, err}) %>

<div class="container pt-5">
  
  <form class="row justify-content-center mt-5 " action="/login" method="POST">
    <div class="col-4 row justify-content-center p-5 ">

      <label for="username">Username:</label>
      <input class="form-control" type="text" name="username">
      
      <label for="password">Password:</label>
      <input class="form-control" type="password" name="password">
      
      <button class="mt-2 btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>

<%- include("./partials/__scripts") %>
<%- include("./partials/__footer") %>